<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="myApp">
<div ng-controller="DashboardCtrl as vm">

    <table class="orders">
        <tr>
            <th ng-click="vm.menu.orderBy('date')">
                Date
                <span ng-show="vm.model.orderParam == 'date'" class="sortorder" ng-class="{reverse: vm.model.reverse}"></span>
            </th>
            <th ng-click="vm.menu.orderBy('country')">
                Country
                <span ng-show="vm.model.orderParam == 'country'" class="sortorder" ng-class="{reverse: vm.model.reverse}"></span>
            </th>
            <th ng-click="vm.menu.orderBy('price')">
                Price
                <span ng-show="vm.model.orderParam == 'price'" class="sortorder" ng-class="{reverse: vm.model.reverse}"></span>
            </th>
            <th ng-click="vm.menu.orderBy('status')">
                Status
                <span ng-show="vm.model.orderParam == 'status'" class="sortorder" ng-class="{reverse: vm.model.reverse}"></span>
            </th>
            <th ng-click="vm.menu.orderBy('description')">
                Description
                <span ng-show="vm.model.orderParam == 'description'" class="sortorder" ng-class="{reverse: vm.model.reverse}"></span>
            </th>
        </tr>
        <tr ng-repeat="order in vm.model.orders | orderBy : vm.model.orderParam : vm.model.reverse ">
            <td>{{ order.date | date : 'dd.MM.yyyy' }}</td>
            <td>{{ order.country }}</td>
            <td>{{ order.price | currency : '&pound;' }}</td>
            <td>{{ order.status | limitTo : 1 | uppercase }}</td>
            <td>{{ order.description | cut : 10 }}</td>
        </tr>
    </table>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/core.module.js"></script>
<script src="js/dashboard.controller.js"></script>
<script src="js/filters/cut.filter.js"></script>

</body>
</html>